<div class="post art-tab-names art-tab" id="create_a_proposal" style="margin-top: 0; display: none;" hidden>
    <div class="p_body">
        <div class="p_body_content">
            <div class="p_body_content_wrapper">
                <form class="uls " action="create/proposal" method="POST" id="create_proposal_template" style="max-height: inherit;">
                    <!-- Dashboard -->
                    <legend class="art-dop_down io_aro  lis " id="upload_proposal_header">
                        <input readonly class="leg-title" value="New Proposal" name="title">
                        <div class="container_ ">
                            <!-- Preview  the work-->
                            <input type="button" class="under_more" value="...">


                            <div class="container__ sm_animate_opacity">
                                <!-- Preview  the work-->
                                <input type="button" class="under_preview" value="Preview">
                                <!-- Save the content -->
                                <button type="submit" class="under_submit">Save</button>
                                <!-- Save and send the proposal -->
                                <input type="button" class="under_save_send" id="save_send_proposal" value="Save and send">
                                <!-- Save as a Draft = Auto in future-->
                                <input type="button" class="under_draft hidden" value="Save draft">
                            </div>
                        </div>
                    </legend>
                    <!-- Editor -->

                    <div contenteditable="true" class="editable" style="width: 100%;
        padding: 5px 23px;outline: none;/* font-size: inherit; */min-height: 50vh; max-height: 60vh;overflow: auto;" id="proposal_template"> </div>

                    </ul>
                </form>
            </div>
        </div>
    </div>

    <script>
        rangy.init();

        var HighlighterButton = MediumEditor.extensions.button.extend({
            name: 'highlighter',
            tagNames: ['input'],
            contentDefault: '<b>Input</b>',
            contentFA: '<i title="Insert an input" class="fa fa-paint-brush"></i>',
            aria: 'input',
            action: 'highlight',
            title: 'Insert an input',
            placeHolder: 'Input',

            init: function() {
                MediumEditor.extensions.button.prototype.init.call(this);

                this.classApplier = rangy.createClassApplier('highlight', {
                    elementTagName: 'input',
                    normalize: true
                });
                this.button.title = 'Insert and input';
            },

            handleClick: function(event) {
                this.classApplier.toggleSelection();

                var range = MediumEditor.selection.getSelectionRange(this.document);
                let inserted = range.endContainer.parentElement;
                let insertedUneder = range.endContainer.wholeText;
                inserted.setAttribute("placeholder", insertedUneder);
                inserted.setAttribute("class", "editor_input");
                inserted.setAttribute("size", "1");
                inserted.setAttribute("name", insertedUneder);


                // Ensure the editor knows about an html change so watchers are notified
                // ie: <textarea> elements depend on the editableInput event to stay synchronized
                this.base.checkContentChanged();

            }
        });
        var editor = new MediumEditor('.editable', {
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3',
                    'unorderedlist',
                    'orderedlist', 'quote', 'highlighter',
                    'embedButton'
                ]
            },
            buttonLabels: 'fontawesome',
            paste: {
                cleanPastedHTML: true,
                forcePlainText: false
            },
            extensions: {
                'highlighter': new HighlighterButton(),
                embedButton: new EmbedButtonExtension({
                    embedOpts: {
                        /* 3bef8c4238179ff9306315 Don not use this API, is a third part key, only use it for development/testing not for production */
                        "oembedProxy": "http://iframe.ly/api/oembed?api_key=0f38366c7bce9ee000b5e6&url=",
                        "msgSelectOnlyEmbadableUrl": "The URL you selected is not supported!",
                        "msgSelectOnlyUrl": "The text you selected is not a valid URL!"
                    }
                })
            },
            placeholder: {
                text: 'Enter your text',
                hideOnClick: true
            }
        });
        <% if (typeof proposalDraft != 'undefined') { %>
        document.querySelector("#proposal_template").insertAdjacentHTML("beforeEnd", `<%-proposalDraft.data%>`);

        <%}%>
    </script>
</div>