<div class="post art-tab-names art-tab" id="upload_a_proposal_template" style="margin-top: 0; display: none;" hidden>
    <div class="p_body">
        <div class="p_body_content">
            <div class="p_body_content_wrapper">
                <form class="uls under_submit_form" action="upload/proposal" method="POST" enctype="multipart/form-data" id="upload_proposal_template">
                    <!-- Dashboard -->
                    <legend class="art-dop_down io_aro  lis " id="upload_proposal_header">
                        Upload Proposal Template
                    </legend>
                    <!-- Sale Tab container  -->
                    <ul class="art-dop_col no-shado w-100 ul art_flex art_flex_wr " id="pa-upload_proposal_header" style="padding: 0 10px; border-radius: 0pc 0pc 1pc 1pc;">
                        <li class="li  ma-l-r-5 art_inp_co  no-opa-hover w-46" style="background: #f6f6f6 ;margin-bottom: 1pc;">
                            <input type="text" class="art_inp" placeholder="Enter file name   (Optional)" name="fileName" />
                        </li>
                        <li class="li  ma-l-r-5 art_inp_co  no-opa-hover w-46" style="background: #f6f6f6 ;margin-bottom: 1pc;">
                            <input type="file" class="art_inp" placeholder="click here" name="proposal_template" accept="application/pdf" />
                        </li>

                        <div class="container">
                            <button type="submit" class="under_submit">
                Upload
              </button>
                        </div>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>