<div class="rectangle-2">
    <div class="reader_modal">
        <div class="reader_modal_header">
            <!-- Go back button -->
            <button class="reader_modal_back"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.635 32.635">
                        <path d="M32.135 16.817H.5a.5.5 0 0 1 0-1h31.635a.5.5 0 0 1 0 1z" />
                        <path
                            d="M13.037 29.353a.502.502 0 0 1-.354-.146L.146 16.669a.504.504 0 0 1 0-.708L12.684 3.429a.5.5 0 0 1 .707.707L1.207 16.315l12.184 12.184a.5.5 0 0 1-.354.854z" />
                    </svg>
                </button>
            <div class="header_head">
                <div class="header_title">
                    <h3>
                        <!-- Blogger's Name e.g Nehemie Zikama -->
                    </h3>
                </div>
                <div class="header_deatails">
                    <p>
                        <!-- Date Here -->
                    </p>
                </div>
            </div>
            <div class="header_title">
                <h1>
                    <!-- Title Comes Here -->
                </h1>
            </div>
        </div>
        <div class="reader_modal_content">
            <div class="reader_modal_content_">
                <!-- Content Goes Here -->
            </div>
        </div>
    </div>
</div>