<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sadja Email template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        /* .opacity-0 {
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-visibility: hidden;
    -moz-visibility: hidden;
    -ms-visibility: hidden;
    -o-visibility: hidden;
    visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: none;
}  */
        
        .art-btn_sucess {
            width: auto;
            min-width: 50%;
            height: auto;
            padding: 1pc 1pc;
            margin: auto 21%;
            border: 0;
            border-radius: 10px;
            background-color: #50cb6a;
            font-size: 23px;
            color: #e9f4fe;
            cursor: pointer;
        }
        /* Mobile */
        
        @media screen and (min-width: 320px) {
            .art-btn_sucess {
                min-width: 50vw;
                margin: auto auto auto 10%;
                font-size: 20px;
                cursor: pointer;
            }
            .opacity-0 {
                opacity: 0;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
                -webkit-visibility: hidden;
                -moz-visibility: hidden;
                -ms-visibility: hidden;
                -o-visibility: hidden;
                visibility: hidden;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
                cursor: none;
            }
        }
        /* Tablet */
        
        @media screen and (min-width: 768px) {
            .art-btn_sucess {
                min-width: 80%;
                margin: auto 10%;
                font-size: 26px;
                cursor: pointer;
            }
        }
        /* Desktop */
        
        @media screen and (min-width: 1025px) {
            .art-btn_sucess {
                min-width: 81%;
                margin: auto 27%;
                font-size: 23px;
                padding: 1pc 3pc;
            }
            .opacity-0 {
                opacity: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
                -webkit-visibility: visible;
                -moz-visibility: visible;
                -ms-visibility: visible;
                -o-visibility: visible;
                visibility: visible;
                -webkit-appearance: inherit;
                -moz-appearance: inherit;
                -ms-appearance: inherit;
                -o-appearance: inherit;
                appearance: inherit;
                cursor: inherit;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
    {{{body}}}
</body>

</html>