<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class=" opacity-0">
        <td align="center" bgcolor="#f3faff" class="foot_logo_container opacity-0"
            style="padding: 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif; background: transparent; overflow: hidden; text-align: left;">
            <img src="cid:logo.png" alt="Sadja Web Solutions" style="display: block; height: 7vh; margin: auto 0;" />
        </td>
    </tr>
    <tr>

        <td style="color: #607D8B; font-family: sans-serif, Arial; font-size: 12px !important;" width="75%">
            <h2 style="margin-bottom:0;font-size: 15pt;">
                <font>Contact us</font>
            </h2>
        </td>
    </tr>
    <tr>
        <td class="tjTd" width="75%">

            <p style="padding:0;margin:0 0 0px;">Tel: <a href="tel:+256414661906" style="text-decoration: none;">
                    <font color="#03a9f4">+256 414 661 906</font>
                </a></p>
            <p style="padding:0;margin:0 0 0px;">WhatsApp: <a href="tel:+256744241362" style="text-decoration: none;">
                    <font color="#03a9f4">+256 744 241 362</font>
                </a></p>

            <p style="padding:0;margin:0;">Email: <a href="mailto:info@sadjawebsolutions.com"
                    style="text-decoration: none;">
                    <font color="#03a9f4">info@sadjawebsolutions.com</font>
                </a></p>

            <p style="padding:0;margin:0;">Address: <a
                    href="https://www.google.com/maps/place/Hive+Colab/@0.3348641,32.5647543,14z/data=!4m18!1m12!4m11!1m3!2m2!1d32.5946243!2d0.3419881!1m6!1m2!1s0x177dbbb1d0fdf0ef:0xde67114eec99fb00!2sKanjokya+House+hive+colab!2m2!1d32.5944272!2d0.3418314!3m4!1s0x177dbbb1d0fdf0ef:0xde67114eec99fb00!8m2!3d0.3418314!4d32.5944272"
                    style="text-decoration: none;">
                    <font color="#03a9f4">Kanjokya House, plot 90, Kanjokya Street</font>
                </a></p>
        </td>
        <td align="right" class="tjTd" width="25%">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="https://twitter.com/sadjawebsolutions" style="color: rgb(3, 169, 244);">
                            <!-- Twitter -->
                            <img src="cid:twitter.png" class="twitter opacity-0">
                            <font>Twitter</font>
                        </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                    <td>
                        <a href="https://www.facebook.com/sadjawebsolution/" style="color: rgb(3, 169, 244);">
                            <!-- Facebook -->
                            <img src="cid:facebook.png" class="facebook opacity-0">
                            <font>Facebook</font>
                        </a> </td>
                </tr>
            </table>
        </td>
    </tr>
</table>