<tr>
    <td align="center" bgcolor="#f3faff"
        style="padding: 10px 0 10px 0; color: #153643; font-size: 18px; font-weight: bold; font-family: Arial, sans-serif;">
            <h4>Sadja Web Solutions</h4>
        <img src="cid:logo.png" alt="Sadja Web Solutions" style="display: block; width: 20%;height: 7vh; margin: auto;"
            class="header_logo opacity-0" />
    </td>
</tr>
{{#unless _no_hands }}
<tr>
    <td align="center" bgcolor="#f3faff"
        style="padding: 0px 0 0px 0; color: #153643; font-size: 18px; font-weight: bold; font-family: Arial, sans-serif;">
        <img src="cid:output.png" alt="Sadja Web Solutions Mail"
            style="display: block; min-width: 11%; width: auto; height: 7%;  margin: -49px auto 1px;"
            class="mail opacity-0" />
    </td>
</tr>
{{/unless }}