<tr>
    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                    <b>Lorem ipsum dolor sit amet!</b>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px 0 30px 0;width: 711px; height: 82px;font-size: 18px;color: #132a3e;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis,
                    sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi
                    libero ultricies ipsum, in posuere mauris neque at erat.
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="260" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            <button
                                                style="min-width: 58%;height: auto;padding: 1pc 1pc;margin: 0 22%;border: 0;border-radius: 10px;background-color: #50cb6a;font-size: 30.5px;cursor: pointer;color: #e9f4fe;">View
                                                Contract</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                                            tempus adipiscing felis
                                        </td>
                                    </tr>
                                </table>
                            </td>


                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>